<style>
  .main {
    border-top: 15px solid var(--green);
    border-bottom: 15px solid var(--green);
    padding: 4rem 0;
    background-color: {{ section.settings.background_color | default: '#000000' }};
  }

  .main__content {
    color: {{ section.settings.text_color | default: '#ffffff' }};
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
  }

  .main__text {
    width: 100%;
    text-align:center;
  }

  .product-grid {
    margin-top: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  /* Tablet */
  @media (min-width: 640px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Desktop */
  @media (min-width: 1024px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

<section class="main" id="main">
  <div class="container">
    <div class="main__content">
      <div class="main__text">
        {% if section.settings.heading %}
            <h1>
                {{ section.settings.heading }}
            </h1>
        {% endif %}
        {% if section.settings.subheading %}
            <p>
                {{ section.settings.subheading }}
            </p>
        {% endif %}

        {% assign collection = collections[section.settings.product_collection] %}

        {% if collection.products.size > 0 %}
        <div class="product-grid">

          {% for product in collection.products %}
            {% render 'product-card', product: product %}
          {% endfor %}

        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Main Page",
  "settings": [
    {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Heading",
    },
    {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading",
    },
    {
      "type": "collection",
      "id": "product_collection",
      "label": "Product Collection"
    }
  ]
}
{% endschema %}